/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.filemanager-wrapper table {
    width: 100%;
}

.filemanager-wrapper tr td:first-child {
   width: 50px;
}

.filemanager-wrapper tr td:nth-child(2) {
   width: 75%;
}

.pdfobject-container {
   height: 1200px;
}

.navbar {
   overflow: hidden;
   background-color: #333;
   width: auto;
   display: table;
}

.navbar a {
   float: left;
   font-size: 16px;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

.subnav {
   float: left;
   overflow: hidden;
}

.subnav .subnavbtn {
   font-size: 16px;  
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
}

.subnav-content {
   display: none;
   position: absolute;
   width: auto;
   z-index: 1;
   background-color: #333; 
}

.subnav-content a {
   float: left;
   color: white;
   text-decoration: none;
}

.subnav-content a:hover {
   background-color: #eee;
   color: black;
}

.subnav-content-display {
   display: block;
}

.subnav-content-display {
   display: block;
}