/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.filemanager-wrapper table {
    width: 100%;
    margin: 0;
}

.filemanager-wrapper tr td:first-child {
   width: 50px;
   display: none;
}

.filemanager-wrapper tr td:nth-child(2) {
   width: 75%;
}

.pdfobject-container {
   height: 1200px;
}

.filemanagerbtn {
   margin-bottom: 10px;
}

.navbar {
   overflow: hidden;
   background-color: #fff;
   width: auto;
   display: block;
}

.btninfo {
   float: right !important;
}

.info-window {
   position: absolute;
   top: 25%;
   left: 25%;
   width: 50%;
   height: auto;
   background-color: #fff;
   border: 0.5px solid rgba(0,0,0,0.15);
   padding: 25px;
}

.info-window-close{
   float: right !important;
}

.navbar div, .navbar a {
   float: left;
   font-size: 16px;
   color: black;
   text-align: center;
   text-decoration: none;
   border: 0.25px solid black;
   padding: 10px;
   margin: 0 5px 0px 0;
   text-decoration: none !important;
   font-weight: 100 !important;
}

.subnav {
   float: left;
   overflow: hidden;
}

.subnav .subnavbtn {
   font-size: 16px;
   border: none;
   outline: none;
   color: black;
   font-weight: 100;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
}

.subnav-content {
   display: none;
   position: absolute;
   width: auto;
   z-index: 1;
   background-color: white;
   border: 0.25px solid black;
}

.subnav-content a  {
   float: left;
   color: white;
   text-decoration: none;
}

.subnav-content a:hover {
   background-color: #eee;
   color: black;
}

.subnav-content-display {
   display: block;
}

.subnav-content-display {
   display: block;
}

.file-info {
   float: right;
}

.dplayer {
   width: 100%;
}

tr.selected {
   background-color: rgba(0,0,0,0.1);
}

.filepath {
   padding: 5px 10px;
   border: 0.5px solid black;
   border-bottom: none;
}

.filemanager-home-click {
   margin-left: auto;
   margin-right: auto;
   display: table;
   padding: 15px 0;
   border: 0.25px solid rgba(0,0,0,0.25);
   width: 50%;
   text-align: center;
}